* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	overflow: hidden;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 3rem;
	font-weight: 600;
	backdrop-filter: blur(0.05rem);
	color: #f6f6f6;
	background-color: #00000056;
	padding: 0 1rem;
}

.menu ul {
	display: flex;
	gap: 2rem;
	list-style: none;
}

.menu ul li {
	cursor: pointer;
}

.logo {
	display: block;
	width: 1.5rem;
}

.documentario {
	width: 1.5rem;
	margin-left: 1rem;
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	padding: 0 3rem;
}

.fundo video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.texto-inicial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	color: #f6f6f6;
}

.texto-inicial .p1 {
	font-size: 4rem;
}

.texto-inicial .p2 {
	font-size: 3rem;
	padding-top: 1rem;
}

.texto-inicial .p3 {
	font-size: 6rem;
	font-weight: 600;
	color: #32f8f8;
}

.sustentabilidade-txt {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: #f6f6f6;
}

.sustentabilidade-txt hr {
	width: 90%;
	margin: 1rem auto;
}

.sustentabilidade-txt div {
	width: 46rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
}

.sustentabilidade-txt h1 {
	margin-bottom: 1.5rem;
}

.sustentabilidade-txt h1 span {
	display: block;
}

.sp1 {
	font-size: 2rem;
}

.sp2 {
	font-size: 3rem;
	color: #32f8f8;
	margin-top: 0.8rem;
	margin-left: 2rem;
}

.sp3 {
	font-size: 4rem;
	color: #32f8f8;
	margin-left: 4rem;
}

.sustentabilidade-txt h2 {
	margin-top: .5rem;
}

.reciclagem-txt {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: #f6f6f6;
}

.reciclagem-txt hr {
	width: 90%;
	margin: 1rem auto;
}

.reciclagem-txt h1 {
	font-size: 2.5rem;
}

.reciclagem-txt h1 span {
	display: block;
	margin-top: 0.3rem;
}

.reciclagem-txt h1 span:last-of-type {
	color: #32f8f8;
}

.reciclagem-txt h1 span:first-of-type {
	font-size: 2rem;
}

.reciclagem-txt div {
	width: 45rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
	margin-bottom: 2.8rem;
}

.reciclagem-txt h2 {
	text-align: center;
}

.reciclagem-txt h3 {
	margin-top: 1rem;
}

.reciclagem-txt p + p {
	margin-top: 0.8rem;
}

.reciclagem-txt img {
	display: block;
	width: 5rem;
	margin: auto;
}

.comunidade-txt {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: #f6f6f6;
}

.comunidade-txt img {
	display: block;
	width: 30rem;
	border-radius: 0.5rem;
}

.comunidade-txt div:first-of-type {
	width: 48rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
}

.comunidade-txt div:last-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: fit-content;
	text-align: center;
}

.comunidade-txt h1 span {
	display: block;
	font-size: 3rem;
	color: #32f8f8;
}

.comunidade-txt hr {
	width: 90%;
	margin: 1rem auto;
}

.comunidade-txt div h2 {
	text-align: center;
}

.comunidade-txt h3 {
	margin-top: 1rem;
}

.educacao-txt {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: #f6f6f6;
}

.educacao-info {
	width: 45.9rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
}

.educacao-txt h1 {
	margin-bottom: 2rem;
}

.educacao-txt h1 span {
	display: inline-block;
	color: #32f8f8;
}

.educacao-txt h2 {
	margin-top: 0.7rem;
}

.educacao-txt hr {
	width: 90%;
	margin: 1rem auto;
}

.inovacoes-txt {
	display: none;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: #f6f6f6;
}

.inovacoes-txt .info1 p {
	width: 40rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
	margin-bottom: 1rem;
}

.inovacoes-txt hr {
	width: 45%;
	margin: 1rem auto;
}

.inovacoes-txt img {
	display: block;
	width: 40rem;
	border-radius: 0.5rem;
}

.inovacoes-txt .info1 h1 {
	width: 40rem;
	margin-bottom: 1rem;
}

.inovacoes-txt .info2 {
	width: 40rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
}

.inovacoes-txt .info1 h1 span {
	display: inline-block;
	font-size: 2.5rem;
	color: #32f8f8;
	margin-left: 8rem;
}

.inovacoes-txt h2 {
	text-align: center;
}

.inovacoes-txt h3 {
	margin-top: 1rem;
}

.contato-txt {
	display: none;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	position: relative;
	color: #f6f6f6;
}

.contato-txt .info {
	display: flex;
	flex-direction: column;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
	margin-top: 0.5rem;
}

.contato-txt .info div {
	display: flex;
	gap: 0.5rem;
	margin: 1rem 0 2rem;
}

.contato-txt img {
	display: block;
	width: 1.5rem;
}

.contato-txt span {
	color: #32f8f8;
}

.contato-txt .obs {
	font-size: 0.7rem;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 29rem;
	border-radius: 0.3rem;
	position: absolute;
	top: 15%;
	left: 0;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	padding: 1rem;
	margin: 2rem;
}

.formulario form {
	width: 100%;
}

.formulario hr {
	width: 90%;
}

.formulario hr:last-of-type {
	margin-bottom: 1rem;
}

.formulario p:first-of-type {
	padding: .5rem;
}

.formulario #nome {
	width: 100%;
	height: 2rem;
	margin-top: .2rem;
	padding-left: .3rem;
}

.formulario #mensagem {
	width: 100%;
	height:  10rem;
	padding: .3rem;
	margin-top: .2rem;
}

.formulario button {
	padding: .5rem 1rem;
}

.formulario #msg {
	margin-left: .5rem;
}

.efeito-link {
	width: fit-content;
	background-image: linear-gradient(to right, #32f8f8, #32f8f8 50%, #f6f6f6 50%);
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 0.05rem 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}

.efeito-link:before {
	content: "";
	background: #32f8f8;
	display: block;
	position: absolute;
	bottom: -0.1875rem;
	left: 0;
	width: 0;
	height: 0.1875rem;
	transition: all 0.3s ease-in-out;
}

.efeito-link:hover {
	background-position: 0;
}

.efeito-link:hover::before {
	width: 100%;
}

.efeito-link.ativo {
	background-position: 0;
}

.efeito-link.ativo::before {
	width: 100%;
}

.documentario-vid {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.documentario-vid img {
	display: block;
	width: 30rem;
	border-radius: 0.3rem;
}

.documentario-vid p:first-of-type {
	width: 40rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	color: #f6f6f6;
	background-color: #00000083;
	padding: 1rem 1rem 1rem 1.7rem;
	margin-top: 1rem;
}

.documentario-vid p:last-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8rem;
	height: 3rem;
	border-radius: 0.3rem;
	backdrop-filter: blur(0.05rem);
	background-color: #00000083;
	margin-top: 1rem;
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRight {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeft {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.slide-up {
	animation: slideUp 2s cubic-bezier(0.22, 0.85, 0.36, 1) forwards;
}

.slide-up2 {
	animation: slideUp 2.5s cubic-bezier(0.22, 0.85, 0.36, 1) forwards;
}

.slide-up3 {
	animation: slideUp 3s cubic-bezier(0.22, 0.85, 0.36, 1) forwards;
}

.slide-up4 {
	animation: slideUp 0.5s cubic-bezier(0.22, 0.85, 0.36, 1) forwards;
}

.slide-right {
	animation: slideRight 3s cubic-bezier(0.22, 0.85, 0.36, 1) forwards;
}

.slide-left {
	animation: slideLeft 3s cubic-bezier(0.22, 0.85, 0.36, 1) forwards;
}

@media (min-width: 1400px) {
	.sustentabilidade-txt {
		font-size: .9rem;
	}

	.reciclagem-txt {
		font-size: .9rem;
	}

	.reciclagem-txt h3 {
		margin-top: .5rem;
	}

	.comunidade-txt {
		font-size: .9rem;
	}

	.educacao-txt {
		font-size: .9rem;
	}

	.educacao-txt h1 {
		text-align: center;
		margin-bottom: 1rem;
	}

	.inovacoes-txt .info1 h1 {
		font-size: 1.5rem;
	}

	.inovacoes-txt .info1 h1 span {
		font-size: 2.1rem;
		margin-left: 13rem;
	}

	.inovacoes-txt .info1 p {
		width: 33rem;
		margin-bottom: .5rem;
	}

	.inovacoes-txt img {
		width: 33rem;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	main {
		padding: 0 1rem;
		overflow: hidden;
	}

	.sustentabilidade-txt {
		font-size: 0.9rem;
	}

	.sustentabilidade-txt div {
		width: 35rem;
	}

	.reciclagem-txt {
		font-size: 0.9rem;
	}

	.reciclagem-txt h1 span:first-of-type {
		font-size: 1.5rem;
	}

	.reciclagem-txt h1 span {
		font-size: 1.8rem;
	}

	.reciclagem-txt div {
		width: 45rem;
	}

	.reciclagem-txt img {
		display: none;
	}

	.comunidade-txt {
		font-size: 0.8rem;
	}

	.comunidade-txt div:first-of-type {
		width: 34rem;
	}

	.comunidade-txt h1 span {
		font-size: 2.5rem;
	}

	.comunidade-txt img {
		width: 25rem;
	}

	.educacao-txt {
		font-size: 0.8rem;
	}

	.educacao-info {
		width: 38rem;
	}

	.educacao-txt h1 {
		text-align: center;
	}

	.video iframe {
		width: 22rem;
		height: 14rem;
	}

	.inovacoes-txt {
		font-size: 0.8rem;
	}

	.inovacoes-txt .info1 h1 {
		width: 30rem;
		font-size: 1.5rem;
	}

	.inovacoes-txt .info1 h1 span {
		font-size: 2.3rem;
	}

	.inovacoes-txt .info1 p {
		width: 30rem;
	}

	.inovacoes-txt .info2 {
		width: 30rem;
	}

	.inovacoes-txt img {
		width: 30rem;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.menu ul {
		gap: 1rem;
	}

	main {
		padding: 0 0.5rem;
		overflow: hidden;
	}

	.texto-inicial .p1 {
		font-size: 3rem;
	}

	.texto-inicial .p2 {
		font-size: 2rem;
	}

	.texto-inicial .p3 {
		font-size: 5rem;
	}

	.sustentabilidade-txt {
		font-size: 0.8rem;
	}

	.sustentabilidade-txt div {
		width: 26rem;
	}

	.sp1 {
		font-size: 1rem;
	}

	.sp2 {
		font-size: 2rem;
		margin-top: 0.8rem;
		margin-left: 2rem;
	}

	.sp3 {
		font-size: 3rem;
		margin-left: 4rem;
	}

	.reciclagem-txt {
		font-size: 0.8rem;
	}

	.reciclagem-txt h1 {
		font-size: 1.5rem;
	}

	.reciclagem-txt h1 span:first-of-type {
		font-size: 1rem;
	}

	.reciclagem-txt img {
		display: none;
	}

	.comunidade-txt {
		font-size: 0.75rem;
	}

	.comunidade-txt h1 {
		font-size: 1rem;
	}

	.comunidade-txt h1 span {
		font-size: 1.4rem;
	}

	.comunidade-txt div:first-of-type {
		width: 31rem;
	}

	.comunidade-txt img {
		width: 15rem;
	}

	.educacao-txt {
		font-size: 0.8rem;
	}

	.video iframe {
		width: 17.5rem;
		height: 9.5rem;
	}

	.educacao-txt h1 {
		font-size: 1.2rem;
		text-align: center;
	}

	.educacao-info {
		width: 29rem;
	}

	.inovacoes-txt {
		flex-wrap: wrap;
		justify-content: center;
		font-size: 0.8rem;
	}

	.inovacoes-txt .info1 h1 {
		text-align: center;
	}

	.inovacoes-txt .info1 h1 span {
		font-size: 1.6rem;
		margin-left: 0;
	}

	.inovacoes-txt img {
		display: none;
	}

	.inovacoes-txt .info1 p {
		margin-bottom: 0.5rem;
	}

	.inovacoes-txt h3 {
		margin-top: 0.5rem;
	}

	.formulario {
		top: 20%;
		left: 15%;
	}
}

@media (max-width: 575.98px) {
	.menu {
		height: fit-content;
		padding: 0;
	}

	.menu ul {
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		padding: 0.3rem;
	}

	.logo {
		display: none;
	}

	.documentario {
		margin-left: 3rem;
	}

	main {
		justify-content: center;
		padding: 0 0.5rem;
		overflow: hidden;
	}

	.texto-inicial .p1 {
		font-size: 1.8rem;
	}

	.texto-inicial .p2 {
		font-size: 1.5rem;
		padding-top: 1rem;
	}

	.texto-inicial .p3 {
		font-size: 4rem;
		font-weight: 600;
		color: #32f8f8;
	}

	.sustentabilidade-txt {
		flex-wrap: wrap;
		height: 100%;
		position: relative;
	}

	.sustentabilidade-txt hr {
		width: 100%;
		margin: 0;
	}

	.sustentabilidade-txt .txt-p {
		padding: 0.5rem;
	}

	.sustentabilidade-txt div {
		font-size: 0.75rem;
		padding: 0.5rem;
	}

	.sustentabilidade-txt h1 {
		position: absolute;
		top: 0.8%;
	}

	.sustentabilidade-txt h2 {
		margin-top: 0.5rem;
	}

	.sp1 {
		font-size: 1rem;
	}

	.sp2 {
		font-size: 1.3rem;
		margin-top: 0;
	}

	.sp3 {
		font-size: 1.8rem;
	}

	.reciclagem-txt {
		flex-wrap: wrap;
		font-size: 0.8rem;
		height: 100%;
		position: relative;
	}

	.reciclagem-txt hr {
		width: 100%;
		margin: 0;
	}

	.reciclagem-txt .txt-p {
		padding: 0.5rem;
	}

	.reciclagem-txt div {
		padding: 0.5rem;
	}

	.reciclagem-txt h1 {
		font-size: 1rem;
		position: absolute;
		top: 0.8%;
		margin-left: 0.2rem;
	}

	.reciclagem-txt h1 span {
		display: inline-block;
	}

	.reciclagem-txt h1 span:first-of-type {
		font-size: 1rem;
	}

	.reciclagem-txt h2 {
		margin-top: 0.5rem;
	}

	.reciclagem-txt h3 {
		margin-top: 0.5rem;
	}

	.reciclagem-txt img {
		display: none;
	}

	.comunidade-txt {
		flex-wrap: wrap;
		font-size: 0.8rem;
		height: 100%;
		position: relative;
	}

	.comunidade-txt div:first-of-type {
		padding: 0.5rem;
	}

	.comunidade-txt h1 {
		font-size: 0.9rem;
		position: absolute;
		top: 0.8%;
		left: 7%;
	}

	.comunidade-txt h1 span {
		display: inline-block;
		font-size: 0.9rem;
	}

	.comunidade-txt hr {
		width: 100%;
		margin: 0;
	}

	.comunidade-txt .txt-p {
		padding: 0.5rem;
	}

	.comunidade-txt h2 {
		margin-top: 0.5rem;
	}

	.comunidade-txt h3 {
		margin-top: 0.5rem;
	}

	.comunidade-txt img {
		display: none;
	}

	.educacao-txt {
		flex-wrap: wrap;
		justify-content: center;
		height: 100%;
		font-size: 0.8rem;
		position: relative;
	}

	.educacao-info {
		width: 100%;
		padding: 0.5rem;
	}

	.educacao-info .txt-p {
		padding: 0.5rem;
	}

	.educacao-txt h1 {
		text-align: center;
		position: absolute;
		top: 2%;
		margin-bottom: 0;
	}

	.educacao-txt h2 {
		margin-top: 0.5rem;
	}

	.educacao-txt hr {
		width: 100%;
		margin: 0;
	}

	.video {
		display: none;
	}

	.inovacoes-txt {
		flex-wrap: wrap;
		font-size: 0.8rem;
		position: relative;
	}

	.inovacoes-txt h1 {
		position: absolute;
		top: -18.5%;
		z-index: 1;
		margin-bottom: 0;
	}

	.inovacoes-txt .info1 h1 span {
		margin-left: 2rem;
	}

	.inovacoes-txt h2 {
		padding: 0.5rem;
	}

	.inovacoes-txt h3 {
		margin-top: 0.5rem;
	}

	.inovacoes-txt .info1 p {
		width: 100%;
		padding: 0.5rem;
		margin-bottom: 0.2rem;
	}

	.inovacoes-txt hr {
		width: 100%;
		margin: 0;
	}

	.inovacoes-txt .info2 {
		width: 100%;
		padding: 0.5rem;
	}

	.inovacoes-txt img {
		display: none;
	}

	.contato-txt {
		justify-content: center;
	}

	.contato-txt .info div {
		width: 1rem;
		font-size: .8rem;
		margin: 1rem 0 1rem;
	}

	.formulario {
		width: 25.6rem;
		top: 23%;
		margin: 0;
	}

	.formulario p:first-of-type {
		font-size: .8rem;
	}

	.formulario #mensagem {
		height: 6rem;
	}

	.documentario-vid img {
		width: 100%;
	}

	.documentario-vid p:first-of-type {
		font-size: 0.8rem;
		width: 100%;
		padding: 0.5rem;
		margin-top: 0.5rem;
	}

	.documentario-vid p:last-of-type {
		margin-top: 0.5rem;
	}
}
